[Unit]
Description=Sincronização periódica da pasta Class

[Timer]
OnCalendar=*:0/5
AccuracySec=30s
Persistent=true
Unit=sync-class.service

[Install]
WantedBy=timers.target
