[Desktop Entry]
Type=Service
Name=LocalSend
MimeType=all/allfiles;inode/directory;
Actions=sendWithLocalSend;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel

[Desktop Action sendWithLocalSend]
Name=Send with LocalSend
Icon=localsend
Exec=/home/marcio/.local/bin/dolphin-send-with-localsend %F
